@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;

<header class="bg-primary text-center">
    <div class="container d-flex align-items-center flex-column">
        @await Html.GetBlockGridHtmlAsync(Model, "headerContent")
    </div>
</header>