@using Umbraco.Cms.Web.Common.PublishedModels
@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.Button>>

    <div class="container text-center mb-5 col-lg-8">
<button class="btn btn-primary btn-xl" onclick="window.location.href='/..@Model.Content.Link.Url';">@Model.Content.ButtonText</button>
</div>
